* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.container {
  display: flex;
  justify-content: center;
  height: 100dvh;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  overflow: hidden;
  padding: 1rem;
  margin: 1rem;
  position: relative;

  transition: max-width 2s ease;

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-45%);
    transition: transform 2s ease;
  }
  
  &__headline {
    position: absolute;
    top: 15%;
    left: 0;
    font-size: clamp(1rem, 4rem, 10rem);
    transform: rotateZ(270deg);
  } 
  &__desc {
    margin-top: auto;
    opacity: 0;
    transition: opacity 2s ease;
  }

  &__active {

    &.card {
      max-width: 22rem;
    }
    & .card__desc {
      opacity: 1;
    }
    & .card__image {
      transform: translate(-35%);
    }
  }
}