* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.container {
  display: flex;
  justify-content: center;
  height: 100dvh;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  overflow: hidden;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  border-radius: 1rem;

  transition: max-width 2s ease;

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    transform: translateX(-45%);
    transition: transform 2s ease;
  }
  
  &__headline {
    position: absolute;
    bottom: 15%;
    left: 0;
    font-size: clamp(1rem, 4rem, 10rem);
    transform: rotateZ(-90deg);
    transition: transform 2s ease, bottom 2s ease;
    color: rgb(240, 248, 255);;
    width: 10rem;
    padding: 1rem;
  } 
  &__desc {
    margin-top: auto;
    opacity: 0;
    transition: opacity 2s ease;
    background-color: rgba(240, 248, 255, .5);
    padding: 1rem;
    border-radius: .5rem;
  }

  &__active {

    &.card {
      max-width: 22rem;
    }
    & .card__desc {
      opacity: 1;
    }
    & .card__image {
      transform: translate(-35%);
    }
    & .card__headline {
      transform: rotateZ(0deg);
      bottom: 80%;
    }
  }
}