* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.container {
  display: flex;
  justify-content: center;
  height: 100dvh;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  overflow: hidden;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  transition: max-width 2s ease;
}

.card__image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-40%);
  transition: transform 2s ease;
}

.card__headline {
  position: absolute;
  bottom: 15%;
  left: 0;
  font-size: clamp(1rem, 4rem, 10rem);
  transform: rotateZ(-90deg);
  width: 10rem;
}

.card__desc {
  margin-top: auto;
  opacity: 0;
  transition: opacity 2s ease;
}

.card__active.card {
  max-width: 22rem;
}

.card__active .card__desc {
  opacity: 1;
}

.card__active .card__image {
  transform: translate(-30%);
}
