.progressBar__box {
  display: flex;
  flex-direction: column;
  
}

.progressBar {
  position: relative;
}

.progressBar__outer {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid red;
  height: 10px;
  width: 400px;
}

.progressBar__inner {
  position: absolute;
  top: 2px;
  left: 1px;
  height: 8px;
  background: greenyellow;
}

.progressBar__button {
  margin-top: 2rem;
  width: 5rem;
} 

.barFull {
  border: 1px dashed black;
}

.loadingBar__box {
  display: flex;
  flex-direction: column;
}

.loadingBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  border: 1px solid red;
  height: 400px;
}

.loadingBar__inner {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background: yellowgreen;
}

.container {
  display: flex;
  flex-direction: column;
}